.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    //flex-direction:column;
    //background-color: blue;
    //padding-left: 50%;
}

.input {
    width: 15%;
    margin-left: 15px;
}

.button {
    margin-left: 15px;
}